[submodule "dexkit-binding/vendor/DexKit"]
	path = dexkit-binding/vendor/DexKit
	url = https://github.com/GangJust/DexKit.git
[submodule "dexkit-binding/vendor/libcxx-prefab"]
	path = dexkit-binding/vendor/libcxx-prefab
	url = https://github.com/GangJust/libcxx-prefab.git
